* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background: white;
    color: rgb(2, 2, 38);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;


}

/* Header section */

header {
    position: static;
    background-color: rgb(2, 2, 38);
    color: white;
    padding: 0rem 2rem;

}

span {
    font-size: 5rem;
}

marquee {
    color: white;
}


/* Main section  */

main {
    padding: 2rem 1rem;
}



.search {
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    font-weight: 400;
    border: none;
    outline: none;



}

#search-key {
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 4px solid rgb(2, 2, 38);
    padding: 0.5rem 0rem 0.2rem 1.5rem;
    background-color: white;
    color: rgb(2, 2, 38);
    font-weight: 700;


}

.fa-magnifying-glass {

    margin-top: 0.5rem;
    margin-left: 0.2rem;
}



#btn-search {
    color: white;
    background: linear-gradient(90deg, rgb(2, 2, 38), rgb(4, 43, 43));
    padding: 0.2rem 1rem;
    margin-left: 2rem;
    border: none;
    border-radius: 6px;
    box-shadow: 4px 4px 4px rgb(2, 2, 38);
}

#btn-search:hover{
    box-shadow: none;
    padding: 0.2rem 1.5rem;
}

/* Result section */
#result  {
    font-weight: 600;
    border-left: 4px solid rgb(2, 2, 38), ;

}



/* footer section */

footer {
    font-weight: 550;
    padding: 1rem 0.5rem;
}

.social-handle {
    float: right;
}

footer .address {
    padding: 0.5rem 0rem;
}

.social-handle .fa-brands{
    border:  2px solid rgb(2, 2, 38);
    border-radius: 50%;
    padding: 0.5rem;
}

.social-handle .fa-brands:hover{
    color: blue;
}

@media screen and (max-width: 480px) {
    body {
        /* background-color: lightgreen; */
        font-weight: 500;
        font-size: 16px;
       
    }

}